@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Work+Sans:wght@500;700&family=Yeseva+One&display=swap");
:root {
  --white-color: #fff;
  --bg-white: #ffffff;
  --bg-grey: #f3f7fa;
  --text-color: #333;
  --blue-color: #0363cd;
  --primary-color: #fc4d4d;
  --font-poppins: "Poppins", sans-serif;
  --font-worksans: "Work Sans", sans-serif;
}

* {
  box-sizing: inherit;
  outline: none;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: var(--font-poppins);
  color: var(--text-color);
}
body {
  position: relative;
  font-size: 1.6rem;
}
body {
  padding-right: 0 !important;
}
a {
  text-decoration: none;
}
.hiden {
  display: none;
}

input,
select {
  box-sizing: border-box;
}
.active-border {
  outline: 1px solid var(--primary-color);
}
.active-border-bottom {
  border-bottom: 2px solid var(--primary-color);
}
