/* app */
.app {
  position: relative;
}
/* nav-bar */
.nav-bar {
  height: 80px;
  background-color: var(--bg-grey);
  /* background-color: var(--text-color); */
}
.nav-bar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.branch-logo a {
  font-family: var(--font-worksans);
  font-size: 30px;
  line-height: 80px;
  font-weight: bold;
  color: var(--text-color);
  text-transform: uppercase;
}
.branch-logo span {
  font-size: 35px;
  color: var(--primary-color);
}
.menu-list {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu-list > li {
  line-height: 80px;
}
.menu-item a {
  padding: 0 16px;
  display: block;
  color: var(--text-color);
  font-weight: 500;
}
.menu-item a:hover {
  color: var(--primary-color);
}
.shop-menu,
.page-menu {
  position: relative;
}

.shop-menu:hover .shop-menu-dropdown,
.page-menu:hover .page-menu-dropdown {
  visibility: visible;
  opacity: 1;
}
.shop-menu-dropdown,
.page-menu-dropdown {
  transition: all 0.25s ease;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 80px;
  border: 1px solid #ccc;
  border-top: 5px solid var(--primary-color);
  background-color: var(--white-color);
  min-width: 200px;
  padding: 20px;
  list-style-type: none;
  z-index: 7;
}
.shop-menu-dropdown li,
.page-menu-dropdown li {
  line-height: 40px;
}
.shop-menu-dropdown li a,
.page-menu-dropdown li a {
  display: block;
  padding: 0 12px;
}
.nav-bar__content-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.search-btn {
  border: none;
  background-color: transparent;
}
.search-btn,
.user a,
.cart a {
  display: inline-block;
  padding: 0 12px;
  font-size: 20px;
  color: var(--text-color);
}
.search-btn:hover,
.user a:hover,
.cart a:hover {
  color: var(--primary-color);
}
.quantity {
  font-size: 12px;
}
/* nav-bar */

/* slider */
.slider {
  margin-top: 77px;
}
.carousel-caption {
  color: var(--text-color);
  top: 50%;
  transform: translateY(-50%);
  text-align: start;
}

.carousel-caption h5 {
  font-size: 16px;
  margin-bottom: 6px;
}
.carousel-caption p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
.carousel-caption a {
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 700;
}
.carousel-caption-item-3 {
  right: 15% !important;
  left: auto;
  text-align: start;
}
.carousel-control-prev,
.carousel-control-next {
  width: 60px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  /* display: none; */
  opacity: 0.8;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  background-color: #333;
}
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  opacity: 0.8;
  background-color: var(--primary-color);
}
/* Custom carousel transition effect */
.carousel-item {
  transform: scale(0.8); /* Thu nhỏ slide */
  opacity: 0.5; /* Giảm độ trong suốt */
  transition: transform 0.5s, opacity 0.5s; /* Thời gian và hiệu ứng */
}

.carousel-item.active {
  transform: scale(1); /* Phóng to slide active */
  opacity: 1; /* Tăng độ trong suốt */
}
/* Hiệu ứng chuyển tiếp cho carousel-caption */
.carousel-caption p {
  transform: translateX(-100%); /* Bắt đầu ẩn nội dung bên dưới */
  transition: transform 0.5s ease; /* Thời gian và hiệu ứng */
}
.carousel-caption.carousel-caption-item-3 p {
  transform: translateX(300%); /* Bắt đầu ẩn nội dung bên dưới */
  transition: transform 0.5s ease; /* Thời gian và hiệu ứng */
}

.carousel-item.active .carousel-caption p {
  transform: translateX(0); /* Hiển thị nội dung khi slide active */
}
.carousel-item.active .carousel-caption-item-3 p {
  transform: translateX(0); /* Hiển thị nội dung khi slide active */
}
.carousel-indicators {
  margin-bottom: 30px;
}
.carousel-indicators [data-bs-target] {
  text-indent: initial;
}

button.carousel-btn-bottom.active i {
  color: var(--primary-color);
  border: 0;
}
/* slider */

/* banner */
.banner {
  padding: 60px 0;
  background-color: var(--bg-grey);
}
.banner-item {
  margin: 0 auto;
  padding: 30px;
  min-height: 400px;
  background-color: var(--bg-white);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-item h2 {
  font-size: 18px;
}
.banner-item p {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 30px;
}
.banner-item p span {
  color: var(--primary-color);
}
.banner-item a {
  display: inline-block;
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-color);
}
.bg-img-1 {
  background-image: url("../images/banner/banner-01-1.jpg");
}
.bg-img-2 {
  background-image: url("../images/banner/banner-01-2.jpg");
}

/* list-product */
.list-product {
  padding: 60px 0;
  background-color: var(--bg-grey);
}
.list-product-title {
  text-align: center;
}
.list-product-title a {
  font-size: 20px;
  margin-left: 40px;
  font-weight: 600;
  color: var(--text-color);
}
.list-product-title a:first-child {
  border-bottom: 2px solid black;
}
.list-card {
  display: grid;
  margin-top: 40px;
  margin-bottom: 40px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.one-row {
  grid-template-columns: 1fr;
}
.product-item {
  background-color: #333;
}
.card {
  overflow: hidden;
  border: none;
}
.card:hover .btn-position i {
  visibility: visible;
  opacity: 1;
}

.card:hover .card-top img {
  rotate: -20deg;
  transform: scale(1.1);
}

.card .card-top {
  position: relative;
  max-height: 400px;
  overflow: hidden;
}

.card-top img {
  transition: all 0.25s linear;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn-position {
  display: flex;
  gap: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.btn-position i {
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: all 0.25s linear;
  border-radius: 50%;
  font-size: 15px;
  color: var(--text-color);
  background-color: var(--bg-white);
}
.btn-position i:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}
.card-body {
  background-color: var(--bg-grey);
}
.card-title {
  font-size: 20px;
}
.card-title:hover {
  color: var(--primary-color);
}
.card-price {
  margin-top: 6px;
  font-size: 14px;
}
.view-link {
  text-align: center;
}
.view-link a {
  text-align: center;
  display: inline-block;
  padding: 10px 50px;
  border-radius: 20px;
  color: var(--white-color);
  background-color: var(--primary-color);
}
.view-link a:hover {
  opacity: 0.8;
}
/* list-product */

/* limit-product */

.content-left {
  text-align: center;
}
.content-left h2 {
  font-size: 18px;
}
.content-left h1 {
  font-size: 100px;
}
.content-left h1 span {
  color: var(--primary-color);
}
.view-count-downt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  gap: 20px;
}
.count-down-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  color: var(--text-color);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--bg-grey);
}
.count-down-item span {
  display: block;
}
.count-down-item span:last-child {
  font-size: 18px;
  color: #666;
}
.content-right img {
  width: 100%;
  object-fit: cover;
}
/* limit-product */

/* selling title */
.best-selling-title {
  text-align: center;
}
.best-selling-title a {
  font-size: 32px;
  font-weight: 600;
  color: var(--text-color);
}

/* newsletter */
.newsletter {
  padding: 60px 0;
  text-align: center;
}
.newsletter-content > * {
  margin-top: 15px;
}
.newsletter-content h2 {
  font-size: 32px;
}
.newsletter-form-content {
  position: relative;
}
.newsletter-form-content {
  margin: 0 auto;
  width: 400px;
}
.newsletter-form-content input {
  width: 100%;
  height: 35px;
  outline: none;
  padding: 0 40px 0 10px;
  box-sizing: border-box;
  border-radius: 20px;
}
.newsletter-form-content button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  padding: 0;
  color: var(--primary-color);
}

/* footer */
.footer {
  background-color: #131313;
  padding: 60px 0;
  text-align: center;
  color: var(--white-color);
}
.color-white {
  color: var(--white-color);
}
.contact-info {
  margin: 30px auto 0;
  width: 70%;
}

.contact-list {
  margin-top: 20px;

  gap: 20px;
  list-style-type: none;
}
.list-icon,
.custom-link {
  margin-top: 30px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.list-icon li a,
.custom-link li a {
  display: block;
  padding: 10px;
  font-size: 20px;
  color: var(--white-color);
}
.list-icon li a:hover,
.custom-link li a:hover {
  color: var(--primary-color);
}
.footer-bottom {
  margin-top: 30px;
  border-top: 2px solid #333;
  padding-top: 20px;
}
/* modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  overflow: hidden;
  background-color: transparent;
  margin: 0 auto; /* 15% from the top and centered */
  width: 70%;
  border: none;
  height: 100px;
}

/* The Close Button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 12px;
  color: #ccc;
  float: right;
  font-size: 30px;
  font-weight: bold;
  z-index: 1;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.form-search {
  width: 100%;
  position: relative;
  top: 20px;
  /* transform: translateY(-50%); */
}
.form-search input {
  width: 100%;
  height: 40px;
  padding: 10px 60px 10px 10px;
  border: none;
  box-sizing: border-box;
}
.form-search button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 16px;
  height: 40px;
  outline: none;
  border: none;
  z-index: 1;
}
.form-search button:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}
.form-search a {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  padding: 0 20px 0 12px;
  color: var(--text-color);
}
.form-search a:hover {
  color: var(--primary-color);
}

/* modal close */

/* login */
.form-wapper {
  padding: 60px 0;
}
.form-content {
  width: 400px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.form-title {
  margin-bottom: 35px;
  text-align: center;
}
.form-title a,
.heading {
  font-size: 50px;
  font-weight: 700;
  display: inline-block;
}
.form-title span {
  padding: 0 16px;
  font-size: 30px;
  font-weight: 600;
  color: var(--primary-color);
}
.form-title a {
  color: #ccc;
}
.form-title a:hover {
  color: var(--text-color);
}

.form-validate > * {
  margin-top: 30px;
  color: var(--text-color);
}
#form-login {
  padding-top: 50px;
  min-height: 350px;
}

.form-group {
  color: var(--text-color);
}
.form-group input {
  height: 40px;
  width: 100%;
  padding: 0 12px;
  border-radius: 4px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
}
.form-group label {
  margin-bottom: 10px;
}
.form-btn {
  text-align: center;
  padding: 10px 24px;
  margin-top: 30px;
}
.form-btn button {
  padding: 10px 24px;
  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
  outline: none;
  border-radius: 4px;
}
.form-btn button:hover {
  color: var(--white-color);
  background-color: var(--text-color);
}
.forgot-password a {
  color: var(--text-color);
}
.forgot-password a:hover {
  color: var(--primary-color);
}
.error {
  color: red;
  display: block;
}

/* cart */
.checkout {
  margin-top: 76px;
  padding: 60px 0;
}
.list-cart {
  width: 100%;
}
.list-cart a {
  color: var(--text-color);
}
table {
  border: 1px solid #ccc;
}
th,
td,
td {
  text-align: center;
}
tr {
  border-bottom: 1px solid #ccc;
}
td,
th {
  font-size: 15px;
  padding: 12px;
}
.product-remove a {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 50%;
  border: 1px solid #333;
}
.product-thumnail {
  width: 110px;
  height: 110px;
}
.product-thumnail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-name a:hover {
  color: var(--primary-color);
}

.product-quantity input {
  height: 30px;
  padding: 0;
  font-size: 16px;
}
.quantity-down,
.quantity-up {
  display: inline-block;
  padding: 0 12px;
  line-height: 30px;
  font-size: 16px;
  border: 1px solid #333;
}
.coupon {
  display: flex;
  justify-content: space-between;
}
.coupon-input {
  padding: 0 12px;
}
.action-btn {
  padding: 6px 24px;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  outline: none;
}
.action-btn:hover {
  background-color: #333;
}
/* cart totals */
.cart-totals {
  margin-top: 30px;
  width: 60%;
}
.cart-totals h2 {
  margin: 12px 0;
  text-align: center;
}
table {
  width: 100%;
}
/* cart close*/

/* product-detail */
.product-detail {
  margin-top: 80px;
  padding: 60px 0;
}
.product-content {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1.5fr;
}
.big-imgage {
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  position: relative;
}
.big-imgage img {
  width: 100%;
  object-fit: contain;
}
.btn-zoom {
  position: absolute;
  margin: 10px 10px 0 0;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--bg-grey);
  color: var(--text-color);
}
.list-image-small {
  width: 100%;
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-image-small li {
  border: 1px solid #ccc;
}
.list-image-small img {
  width: 100%;
  object-fit: contain;
}

.product-title {
  font-weight: 500;
  font-size: 32px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  color: #444;
}
.price {
  font-weight: 700;
  font-size: 32px;
  margin-top: 20px;
}
.product-short-description {
  margin-top: 20px;
}
.product-short-description ul {
  margin-bottom: 30px;
  margin-top: 30px;
  line-height: 2.2em;
}
.product-meta {
  padding: 20px 0;
  margin-top: 20px;
}
span.sku-wrapper,
span.poster-in {
  display: block;
  font-weight: 600;
  color: var(--text-color);
}
span.sku-wrapper .sku {
  font-weight: 400;
  color: #555;
}
span.poster-in a,
a {
  color: #ababab;
  font-weight: 400;
}
span.poster-in a:hover {
  color: var(--primary-color);
}
.stock-in {
  color: var(--primary-color);
}
.form-cart {
  margin-top: 20px;
  padding: 20px 0;
}
.quantity-btns {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.quantity-btns a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid #ccc;
}
.quantity-btns input {
  padding: 0;
  width: 50px;
  height: 40px;
}
.add-to-cart-btn {
  height: 45px;
  padding: 0 16px;
  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
  outline: none;
}
.add-to-cart-btn:hover {
  background-color: var(--text-color);
}

.btns-single-page a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin-left: 15px;
  color: var(--white-color);
  background-color: var(--text-color);
}
.btns-single-page a:hover {
  background-color: var(--primary-color);
}
/* product-tab */
.product-tab {
  margin-top: 30px;
}
.tab-nav {
  gap: 30px;
}
.tab-nav li {
  list-style-type: none;
}
.tab-nav li a {
  display: block;
  padding: 8px 16px;
  color: var(--text-color);
  font-weight: 600;
  font-size: 20px;
}
.tab3-content {
  margin: 30px 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
}
.reviews {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.reviews li {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
.review-rating i {
  color: var(--primary-color);
}
.review-form textarea {
  width: 100%;
  margin-bottom: 20px;
}
.input-rating {
  margin-bottom: 20px;
}
/* star */
.input-rating {
  margin-bottom: 15px;
}

.input-rating .stars {
  display: inline-block;
  vertical-align: top;
}

.input-rating .stars input[type="radio"] {
  display: none;
}

.input-rating .stars > label {
  float: right;
  cursor: pointer;
  padding: 0px 3px;
  margin: 0px;
}

.input-rating .stars > label:before {
  content: "\f006";
  font-family: FontAwesome;
  color: #e4e7ed;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.input-rating .stars > label:hover:before,
.input-rating .stars > label:hover ~ label:before {
  color: var(--primary-color);
}

.input-rating .stars > input:checked label:before,
.input-rating .stars > input:checked ~ label:before {
  content: "\f005";
  color: var(--primary-color);
}
/* star close*/
.rating-btn {
  display: block;
  padding: 6px 16px;
  margin-top: 15px;
  color: var(--white-color);
  background-color: var(--primary-color);
  outline: none;
  border: none;
  border-radius: 4px;
}
/* rating input close */

/* product-related-content */
.product-related-content {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
/* product-related-content close*/

/* product-detail close */

/* category */
.category-content {
  padding: 50px 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.category-left {
  padding-right: 30px;
}
.category-left h4 {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}
.category-left h4::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 25%;
  height: 2px;
  background-color: var(--primary-color);
}
.category-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.menu-category {
  list-style-type: none;
  padding: 0;
  margin-bottom: 30px;
}
.menu-category li {
  margin-top: 20px;
}
.menu-category input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.menu-category label {
  position: relative;
  cursor: pointer;
  width: 120px;
}

.menu-category label:before {
  content: "";
  -webkit-appearance: none;
  background-color: #0079bf;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.menu-category input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  left: 9px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid var(--white-color);

  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.top-rate-list {
  list-style-type: none;
  padding: 0;
}
.top-rate-item {
  min-height: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.top-rate-item:hover .top-rate-item-desc a {
  color: var(--primary-color);
}
.top-rate-item:hover {
  opacity: 0.8;
}
.top-rate-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.top-rate-item-desc a {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color);
}
.top-rate-item-desc small {
  color: #444;
  text-decoration: line-through;
}
.top-rate-item-desc span {
  font-weight: 700;
  color: var(--primary-color);
}
.category-right {
  padding-left: 30px;
}
.nav-filter {
  padding: 10px 0;
  margin-bottom: 20px;
}
.nav-filter a {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  padding: 8px 10px;
  color: var(--text-color);
}
.nav-filter a.vertical {
  margin-left: 10px;
}
#product-filter {
  margin-left: 20px;
  height: 40px;
  padding: 0 10px;
}

/* category close*/

/* account-content open */
.account-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 60px 0;
  height: 80vh;
}
.account-side-bar {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.account-side-bar li a {
  display: block;
  padding: 12px;
  color: var(--text-color);
}
.account-side-bar li a:hover {
  color: var(--primary-color);
}
/* account-content close */
