@media (max-width: 991px) {
  .btn__toggle button {
    display: block;
  }
  .menu-list {
    display: none;
  }
  .menu-list-mobile {
    padding: 30px 12px 0;
    margin: 0;
    list-style-type: none;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: var(--white-color);
    z-index: 2;
  }
  .menu-list-mobile > * {
    margin-top: 24px;
  }
  .menu-list-mobile-close {
    margin-top: 0;
    display: flex;
    cursor: pointer;
  }
}
