/* tablet */
@media (max-width: 1023px) {
  /* slide */
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 25px;
    height: 25px;
  }
  .carousel-caption p {
    font-size: 18px;
  }
  .carousel-indicators i {
    font-size: 10px;
  }
  /* list card */
  .list-card {
    grid-template-columns: 1fr 1fr;
  }
  /* limit product */
  .content-left {
    margin: 30px 0;
  }
}

@media (max-width: 991px) {
  .btn__toggle button {
    display: block;
  }
  .menu-list {
    display: none;
  }
  .menu-list-mobile {
    padding: 30px 12px 0;
    margin: 0;
    list-style-type: none;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: var(--white-color);
    z-index: 4;
  }
  .menu-list-mobile > * {
    margin-top: 24px;
  }
  .menu-list-mobile-close {
    margin-top: 0;
    display: flex;
    cursor: pointer;
  }
}

/* mobile */
@media (max-width: 767px) {
  /* header nav */
  .branch-logo a {
    font-size: 20px;
  }
  .nav-bar__content-right {
    gap: 5px;
  }
  /* slide */
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: none;
  }
  .carousel-caption {
    top: 40%;
  }
  .carousel-caption h5 {
    font-size: 10px;
  }
  .carousel-caption p {
    font-size: 10px;
    margin-bottom: 5px;
  }
  .carousel-caption a {
    font-size: 10px;
  }
  .carousel-indicators i {
    display: none;
  }
  /* list card */
  .list-card {
    grid-template-columns: 1fr;
  }
  /* limit product */
  .content-left h1 {
    font-size: 50px;
  }
  .count-down-item {
    width: 50px;
    height: 50px;
    font-size: 12px;
  }
  .count-down-item span:last-child {
    font-size: 15px;
  }
  /* footer */
  .contact-list {
    display: block !important;
  }
  .contact-list li {
    margin-top: 8px;
  }
  .custom-link {
    display: block;
  }
}
